@namespace url(http://www.w3.org/1999/xhtml);
* {
    font-family: "Courier New";
}
body {
    background-color: #333!important;
}
.board {
    background-color: #333!important;
}
.postInfo .backlink a.quotelink,
.postInfo .backlink a.quotelink:hover {
    color: #536DFE!important;
}
blockquote>span.quote {
    color: #A4A987!important;
    background-color: #5B5678;
}
div.post div.postInfo span.nameBlock span.name {
    color: #566E78!important;
}
span.postertrip,
.post-tripcode {
    color: #47906B!important;
    font-weight: 700!important;
}
div.post div.postInfo span.subject {
    color: #E1E1E1!important;
}
.ws input[type="submit"],
.nws input[type="submit"],
button {
    color: #fff!important;
    background-color: #5B5678!important;
}
table,
table#postForm,
td,
#postForm input[type="text"] {
    vertical-align: middle
}
body {
    background: #f5f5f5;
    color: #9E9E9E;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0;
    margin: 0;
}
.board {
    background: #e5e5e5;
    border-top: 1px solid #ccc;
    margin-bottom: 50px;
    padding-bottom: 25px;
}
.is_index .board {
    padding-bottom: 50px;
}
.quoteLink,
.quotelink,
.deadlink,
div#boardNavMobile .pageJump a,
.persistentNav .pageJump a,
.summary a.replylink,
div.post div.postInfo span.postNum a,
div.post div.postInfo span.postNum a.replylink {
    color: #53949E!important;
    text-decoration: none!important;
}
.quoteLink:hover,
.quotelink:hover,
.deadlink:hover,
.summary a.replylink:hover,
.persistentNav .pageJump a:hover,
div#boardNavMobile .pageJump a:hover,
div.post div.postInfo span.postNum a:hover,
.posteruid .hand:hover {
    color: #536DFE!important;
    text-decoration: underline!important;
}
.postInfo a.postMenuBtn,
.postInfo a.postMenuBtn:hover {
    color: #536DFE!important;
    text-decoration: none!important;
}
a,
.button {
    color: #D2D2D2!important;
    text-decoration: none!important;
}
a:hover,
.button:hover {
    color: #fff!important;
    text-decoration: underline!important;
}
div.postContainer {
    display: block;
    width: 80%;
    margin: 15px auto 0;
}
.thread {
    margin-top: 30px!important;
    padding-top: 15px;
    border-top: 1px solid #ccc;
}
.thread:first-child {
    padding-top: 0;
    border-top: none;
}
div.boardBanner>div.boardTitle {
    margin-top: 40px;
    font-size: 36px;
    color: #E8E8E8;
    margin-bottom: 40px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    letter-spacing: 0;
}
:-ms-input-placeholder {
    color: rgba(0, 0, 0, .35)
}
::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .35)
}
:-moz-placeholder {
    color: rgba(0, 0, 0, .35)
}
::-moz-placeholder {
    color: rgba(0, 0, 0, .35)
}
#togglePostFormLink,
.ad-plea,
#blotter tfoot td,
#ctrl-top,
div.post div.postInfo span.postNum,
div.pagelist div.pages {
    color: transparent;
}
table.postForm>tbody>tr>td:first-child,
.thread-stats {
    color: #999;
}
.ws input[type="text"],
.nws input[type="text"] {
    border: none!important;
    background: #404040;
    border-bottom: 1px solid rgba(0, 0, 0, .12)!important;
    font-size: 14px!important;
    padding: 4px!important;
    color: #DCDCDC;
    -webkit-transition: border-bottom-color .2s;
    transition: border-bottom-color .2s;
}
.ws input[type="text"]:focus,
.ws #quickReply input[type="submit"]:focus {
    border-bottom: 1px solid #536DFE!important;
}
.nws input[type="text"]:focus,
.nws #quickReply input[type="submit"]:focus {
    border-bottom: 1px solid #5B5678!important;
}
.tomorrow .extPanel,
.recaptcha_input_area #recaptcha_response_field {
    border: 0!important;
}
.ws input[type="submit"],
.nws input[type="submit"],
button {
    border: none;
    border-radius: 2px;
    position: relative;
    height: 28px;
    min-width: 64px;
    display: inline-block;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    background: rgb(83, 109, 254);
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    margin-left: 8px;
}
.nws input[type="submit"],
.nws button {
    background: #5B5678
}
#qrCaptchaContainerAlt {
    margin-bottom: 8px;
}
#postForm input[type="text"] {
    margin: 4px 0;
}
#postForm td:first-child {
    text-align: right;
    padding-right: 10px;
}
.ws textarea,
.nws textarea {
    border: 0!important;
    background: #404040;
    color: #DCDCDC;
}
.ws textarea:focus,
.nws textarea:focus {
    border: 0!important
}
table#postForm td {
    background: transparent;
    border: 0;
    font-weight: 400;
}
#toggleMsgBtn {
    margin-left: 5px!important;
}
.rules {
    text-align: center;
}
#qrHeader {
    background: #404040!important;
    color: #fff!important;
    border: none;
}
#qrHeader a {
    color: #fff!important;
}
#search-box {
    height: inherit;
    line-height: inherit;
    margin: 0;
    padding: inherit;
}
#ctrl-top {
    padding-bottom: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    text-align: center;
}
.reply:target,
.reply.highlight {
    background: #444!important;
    padding: 10px!important;
    border: 0!important;
}
.navLinks {
    padding-bottom: 8px;
    color: transparent;
    width: 80%;
    margin: auto;
}
.navLinks label {
    color: #fff;
}
.navLinks label+span {
    color: #999;
}
.navLinksBot {
    margin-top: 30px;
    text-align: left;
}
div#boardNavDesktop,
div#boardNavDesktopFoot,
div#boardNavMobile {
    background: #232323;
    padding: 5px 10px;
    margin-bottom: 25px;
    color: transparent;
    font-size: 14px;
}
div#boardNavMobile {
    color: #000;
    border: 0;
}
div#boardNavDesktopFoot {
    margin-bottom: 0;
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}
div#boardNavDesktop a,
div#boardNavDesktopFoot a {
    margin-left: -3px;
    margin-right: -3px;
    padding: 0;
}
.persistentNav .pageJump a {
    margin: 0;
    padding-right: 5px;
}
div.pagelist {
    background: #242424;
    color: transparent;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin-left: 25px;
    padding: 8px;
    border-radius: 2px;
}
div#absbot {
    background: #fff;
    color: #999;
}
div#absbot #footer-links a {
    text-decoration: none!important;
    color: #536DFE!important;
}
div#absbot #footer-links a:hover {
    text-decoration: underline!important;
}
div#boardNavDesktopFoot {
    margin-bottom: 0;
}
div.post,
.extPanel,
div.reply,
.dd-menu ul {
    background: #242424;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border: none;
}
div.pagelist div.cataloglink {
    border: 0;
}
div.post {
    max-width: 75%;
    margin: 0;
    padding: 10px;
}
.dd-menu li {
    padding: 6px 10px!important;
    border: 0!important;
}
.dd-menu li:hover {
    background-color: #eee!important;
}
#quote-preview {
    border: 0!important;
    padding: 10px!important;
}
div.op {
    display: block;
    max-width: none;
}
.fileText {
    color: #999;
    font-size: 12px;
    margin-top: 2px;
}
.op .fileText {
    margin-top: -5px;
    margin-bottom: 5px;
}
.fileText a {
    color: #999!important;
    text-decoration: none;
}
.posteruid,
.dateTime {
    color: #333;
}
img.topad,
.topad>div,
.topad a img,
img.middlead,
.middlead>div,
.middlead a img,
.globalMessage,
.ad-plea,
#toggleMsgBtn,
img.bottomad,
.bottomad>div,
.bottomad a img,
div#absbot,
div#boardNavDesktopFoot,
div#boardNavMobile,
ul.rules,
.center #blotter tfoot,
.passNotice,
hr,
.navLinks+hr,
.open-qr-wrap,
.board hr,
#bannerCnt,
#ctrl-top+hr,
#ctrl-top>hr,
.ad-plea-bottom+hr,
.postInfo input[type="checkbox"],
div.sideArrows {
    display: none;
}
hr {
    border: 0;
    border-bottom: 1px solid #ddd;
}
div.post:after {
    display: block;
    content: ' ';
    clear: both;
}
div.post div.file .fileThumb img {
    object-fit: cover;
}
div.reply div.file .fileThumb img:not(.expanded-thumb) {
    border-radius: 75px;
    width: 75px!important;
    height: 75px!important;
}
div.op div.file .fileThumb img:not(.expanded-thumb) {
    border-radius: 150px;
    width: 150px!important;
    height: 150px!important;
}
.postMessage {
    color: #9E9E9E;
    margin-left: 20px;
    margin-top: 5px;
}
#boardNavDesktop::after {
    content: ' ';
    display: block;
    clear: both;
}
span.summary {
    border-radius: 0 0 2px 2px;
    background-color: #333;
    color: #9E9E9E;
    width: 80%;
    display: block;
    margin: -1px auto 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-indent: 10px;
    padding: 10px 0;
}