body {
  background: #614b4e;
  color: #fefefe;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  margin: 0;
  background-image: url(https://i.imgur.com/AIYEVdC.png);
  background-repeat: repeat-x;
}
body::after {
  content: url(https://i.imgur.com/deHYwqJ.png);
  position: fixed;
  bottom: -6px;
  right: 0;
  width: 411px;
  pointer-events: none;
}

.board {
  background: #cdbea9;
  border-top: 1px solid #ccc;
  margin-bottom: 50px;
}

.is_index .board {
  padding-bottom: 50px;
}

a,
a:visited,
.quoteLink,
.quotelink,
.deadlink,
div#boardNavMobile .pageJump a,
.persistentNav .pageJump a,
div.post div.postInfo span.postNum a:visited,
div.post div.postInfo span.postNum a.replylink {
  color: lightgoldenrodyellow !important;
  text-decoration: none !important;
}

a:hover,
.quoteLink:hover,
.quotelink:hover,
.deadlink:hover,
.summary a.replylink:hover,
.persistentNav .pageJump a:hover,
div#boardNavMobile .pageJump a:hover,
div.post div.postInfo span.postNum a:hover,
.posteruid .hand:hover {
  color: rgb(83,109,254) !important;
  text-decoration: underline !important;
}

.postInfo a.postMenuBtn,
.postInfo a.postMenuBtn:hover {
  color: burlywood !important;
  text-decoration: none !important;
}

div.postContainer {
  display: block;
  width: 90%;
  margin: 10px auto 0 auto;
}

.thread {
  margin-top: 30px !important;
  padding-top: 15px;
}

.thread:first-child {
  padding-top: 0;
  border-top: none;
}

div.boardBanner > div.boardTitle {
  margin-top: 40px;
  font-size: 36px;
  color: #676767;
  margin-bottom: 40px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  letter-spacing: 0;
}

:-ms-input-placeholder { color: rgba(0,0,0,.35) }
::-webkit-input-placeholder { color: rgba(0,0,0,.35) }
:-moz-placeholder { color: rgba(0,0,0,.35) }
::-moz-placeholder { color: rgba(0,0,0,.35) }

#togglePostFormLink,
.ad-plea,
#blotter tfoot td,
#ctrl-top,
div.post div.postInfo span.postNum,
div.pagelist div.pages {
  color: transparent;
}

table.postForm > tbody > tr > td:first-child,
.thread-stats {
  color: lightsteelblue;
}

.postInfo .backlink a.quotelink,
.postInfo .backlink a.quotelink:hover {
  color: khaki !important;
}

.ws input[type="text"], .nws input[type="text"] {
  border: none !important;
  border-bottom: 1px solid rgba(0,0,0,.12) !important;
  font-size: 14px !important;
  font-family: "Helvetica","Arial",sans-serif;
  padding: 4px !important;
  -webkit-transition: border-bottom-color 0.2s;
  transition: border-bottom-color 0.2s;
}

.ws input[type="text"]:focus, .ws #quickReply input[type="submit"]:focus {
  border-bottom: 1px solid rgb(83,109,254) !important;
}

.nws input[type="text"]:focus, .nws #quickReply input[type="submit"]:focus {
  border-bottom: 1px solid rgb(244,67,54) !important;
}

.tomorrow .extPanel,
.recaptcha_input_area #recaptcha_response_field {
  border: 0 !important;
}

.ws input[type="submit"], .nws input[type="submit"], button {
  border: none;
  border-radius: 2px;
  position: relative;
  height: 28px;
  min-width: 64px;
  display: inline-block;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  background: rgb(83,109,254);
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 28px;
  margin-left: 8px;
}

.nws input[type="submit"], .nws button {
  background: rgb(244,67,54)
}

#qrCaptchaContainerAlt {
  margin-bottom: 8px;
}

#postForm input[type="text"] {
  margin: 4px 0;
}

#postForm td:first-child {
  text-align: right;
  padding-right: 10px;
}

.ws textarea, .nws textarea { border: 0 !important }
.ws textarea:focus, .nws textarea:focus { border: 0 !important }

table#postForm td {
  background: transparent;
  border: 0;
  font-weight: normal;
}

#toggleMsgBtn {
  margin-left: 5px !important;
}

.rules {
  text-align: center;
}

#qrHeader {
  background: #676767 !important;
  color: #fff !important;
}

#qrHeader a {
  color: #fff !important;
}

#search-box {
  height: inherit;
  line-height: inherit;
  margin: 0;
  padding: inherit;
}

#ctrl-top {
  background: #657a59;
  padding-top: 6px;
  padding-bottom: 7px;
  border-top: solid 5px #7c8e72;
  border-bottom: solid 5px #4E6243;
  text-align: center;
}

.reply:target, .reply.highlight {
  background: #c13228 !important;
  padding: 10px !important;
  border: 0 !important;
}

.navLinks + hr,
.open-qr-wrap,
.board hr,
#bannerCnt,
#ctrl-top + hr,
#ctrl-top > hr {
  display: none;
}

.navLinks {
  background: #657a59;
  padding-top: 6px;
  padding-bottom: 7px;
  color: transparent;
  border-top: solid 5px #7c8e72;
  border-bottom: solid 5px #4E6243;
  margin: auto;
}

.navLinks label {
  color: lightsteelblue;
}

.navLinks label + span {
  color: #000;
}

.navLinksBot {
  margin-top: 30px;
  text-align: left;
}

div#boardNavDesktop, div#boardNavDesktopFoot, div#boardNavMobile {
  background: #202C28;
  padding: 5px 10px;
  margin-bottom: 25px;
  color: transparent;
  font-size: 14px;
  border-bottom: solid 5px #131D1A;
}

div#boardNavMobile {
  color: #000;
  border: 0;
}

div#boardNavDesktopFoot {
  margin-bottom: 0;
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

div#boardNavDesktop a, div#boardNavDesktopFoot a {
  margin-left: -3px;
  margin-right: -3px;
  padding: 0;
}

.persistentNav .pageJump a {
  margin: 0;
  padding-right: 5px;
}

div.pagelist {
  background: #fff;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  margin-left: 25px;
  padding: 8px;
  border-radius: 2px;
}

div#absbot {
  background: #2d1813;
  color: #866f50;
}

div#absbot #footer-links a {
  text-decoration: none !important;
  color: #ca9f72 !important;
}

div#absbot #footer-links a:hover {
  text-decoration: underline !important;
}

.bottomCtrl { display: none }

.ad-plea-bottom + hr {
  display: none;
}

div#boardNavDesktopFoot {
  margin-bottom: 0;
}

div.post, .extPanel, div.reply, .dd-menu ul {
  background: #c54c43;
  border: none;
  border-bottom: solid 5px;
  border-top: solid 5px;
  border-color: #cb5f55;
  box-shadow: 5px 5px #af4841; /* #84161f */
}

div.pagelist div.cataloglink {
  border: 0;
}

div.post {
  max-width: 75%;
  margin: 0;
  padding: 10px;
}

.dd-menu li {
  padding: 6px 10px !important;
  border: 0 !important;
}

.dd-menu li:hover {
  background: #d56d65 !important;
}

#quote-preview {
  border: 0 !important;
  padding: 10px !important;
}

div.op {
  display: block;
  max-width: none;
}

div.post div.postInfo span.nameBlock span.name {
  color: #f5d059;
}

div.post div.postInfo span.subject {
  color: #fff;
}

blockquote > span.quote {
  color: #abe338;
}

.fileText {
  color: darksalmon;
  font-size: 12px;
  margin-top: 2px;
}

.op .fileText {
  margin-top: -5px;
  margin-bottom: 5px;
}

.fileText a {
  color: lightcoral !important;
  text-decoration: none;
}

.posteruid,
.dateTime {
  color: burlywood;
}

s {
  color: #354d4d !important;
  background: #354d4d !important;
}

.postInfo input[type="checkbox"] {
  display: none;
}

div.sideArrows { display: none; }

hr {
  border: 0;
}

div.post:after {
  display: block;
  content: ' ';
  clear: both;
}

div.post div.file .fileThumb img {
  object-fit: cover;
}

div.reply div.file .fileThumb img:not(.expanded-thumb) {
  border-radius: 75px;
  width: 75px !important;
  height: 75px !important;
}

div.op div.file .fileThumb img:not(.expanded-thumb) {
  border-radius: 150px;
  width: 150px !important;
  height: 150px !important;
}

.postMessage {
  margin-left: 20px;
  margin-top: 5px;
}

#boardNavDesktop::after {
  content: ' ';
  display: block;
  clear: both;
}

span.summary {
  color: #fff;
  background-color: #cb5f55;
  width: 85%;
  display: block;
  margin: -1px auto 0 auto;
  box-shadow: 5px 5px #af4841;
  text-indent: 10px;
  padding: 10px 0;
}

.summary a.replylink {
  color: #f5d059 !important;
}

div:nth-child(odd) > div.post {
  background-image: url(https://static.tumblr.com/ent6nfp/JGmmwcnhp/tumblr.gif);
  background-repeat: repeat-x;
  background-position: bottom;
}